<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is public</th>
    <th>Center latitude</th>
    <th>Center longitude</th>
    <th>Default zoom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.is_public %></td>
    <td><%= project.center_latitude %></td>
    <td><%= project.center_longitude %></td>
    <td><%= project.default_zoom %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
