<% if user_signed_in? && !current_user.projects.empty?%>
  <div class="main-title">My Projects</div>
  <div class="mc-indent">
    <ul class="big_list">
      <% current_user.projects.each do |project| %>
        <li>
          <%= link_to project.name, project %>
          <% if !project.description.blank? %>
            <span class="proj_details"><%= truncate(project.description, :length => 120) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if can? :create, Project %>
  <div class="mc-indent" style="padding-bottom: 20px;" ><%= link_to 'New Project', new_project_path, :class=>"link-button create" %></div>
<% end %>
<% if !@projects.empty? %>
<div class="main-title">All Public Projects</div>
<div class="mc-indent">
  <ul class="big_list">
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.name, project %>
        <% if !project.description.blank? %>
          <span class="proj_details"><%= truncate(project.description, :length => 120) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
<% if user_signed_in? %>
  <div class="main-title">Misc Tools</div>
  <div class="mc-indent">
  
  <% if can? :create, Icon %>
    <%= link_to 'Browse Icons', icons_path, :class=>'link-button' %>
    <%= link_to 'New Icon', new_icon_path, :class=>"link-button create" %>
  <% end %>
  </div>
<% end %>
