<% content_for(:js) do %>
var map; //The map!
<% end %>
<% content_for(:js_ready) do %>
  var midpoint = {"point":{"latitude":"<%= @project.center_latitude %>","longitude":"<%= @project.center_longitude %>"}};
  map = setup_map(midpoint, <%= @project.default_zoom %>);
<% end %>

<div class="main-title">
  <%= @project.name %>
  <%= map_canvas(:style => "width: 100%; height:500px;") %>
</div>
<ul>
  <% @project.layers.each do |layer| %>
    <li><%= link_to layer.name, [@project, layer] %></li>
  <% end %>
</ul>

<h2><%= link_to 'New Layer', new_project_layer_path(@project), :class=>"link-button" if can? :create, @project.layers.build %></h2>
<br />
<%= link_to 'Edit', edit_project_path(@project) if can? :update, @project %>
<%= link_to 'Destroy', @project, :method => :delete if can? :destroy, @project %>
<%= link_to 'Back', projects_path %>
