<% content_for(:js) do %>
var map; //The map!
<% end %>
<% content_for(:js_ready) do %>
  var midpoint = {"point":{"latitude":"<%= @project.center_latitude %>","longitude":"<%= @project.center_longitude %>"}};
  map = setup_map(midpoint, <%= @project.default_zoom %>);
  var points = <%=raw @project.layers.collect{ |l| l.points }.flatten.to_json %>;
  $.each(points, function(i, point){
    add_point_to_map(point.point, map);
  });
<% end %>

<div class="main-title">
  <%= @project.name %>
  <%= map_canvas(:style => "width: 100%; height:500px;") %>
</div>
<div class="mc-indent">
  <table class="datatable">
    <thead>
      <tr>
       <th>Point</th>
       <th>Layer</th>
       <th>Address</th>
       <th>Description</th>
       <th>Date</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <% @project.layers.collect{ |layer| layer.points }.flatten.each do |point| %>
          <tr class="<%= cycle('even', 'odd')%>">
            <td><%= link_to point.name, [@project, point.layer, point] %></td>
            <td><%= link_to point.layer.name, [@project, point.layer] %></td>
            <td><%= point.address unless point.address.blank? %></td>
            <td><%= point.description unless point.description.blank? %></td>
            <td><%= point.date unless point.date.blank? %></td>
            <td><%= link_to 'Edit', edit_project_layer_point_path(@project, point.layer, point) if can? :update, point %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Layer', new_project_layer_path(@project), :class=>"link-button create" if can? :create, @project.layers.build %>
<br /><br />
<%= link_to 'Edit', edit_project_path(@project), :class=>"link-button" if can? :update, @project %>
<%= link_to 'Delete', @project, :method => :delete, :class=>"link-button destroy" if can? :destroy, @project %>
<%= link_to 'Back', projects_path, :class=>"link-button" %>
