<% content_for(:js) do %>
var map; //The map!
<% end %>
<% content_for(:js_ready) do %>
  var midpoint = {"point":{"latitude":"<%= @project.center_latitude %>","longitude":"<%= @project.center_longitude %>"}};
  map = setup_map(midpoint, <%= @project.default_zoom %>);
<% end %>
<h2 class="breadcrumb">
  <%= link_to @project.name, project_path(@project) %>&nbsp;/&nbsp;
</h2>
<div class="main-title">
  <%= @layer.name %>
  <%= map_canvas(:style => "width: 100%; height:500px;") %>
</div>
<% if @layer.description.empty? %>
  <p><%= @layer.description %></p>
<% end %>

<ul>
  <% @layer.points.each do |point| %>
    <li><%= link_to point.name, [@project, @layer, point] %></li>
  <% end %>
</ul>

<%= link_to 'New Point', new_project_layer_point_path(@project, @layer) if can? :create, @layer.points.build %> 
<%= link_to 'Edit', edit_project_layer_path(@project, @layer) if can? :update, @layer %> |
<%= link_to 'Destroy', [@project, @layer], :method => :delete if can? :destroy, @layer %>
<%= link_to 'Back', project_path(@project) %>
