<% content_for(:js) do %>
var map; //The map!
<% end %>
<% content_for(:js_ready) do %>
  var midpoint = {"point":{"latitude":"<%= @project.center_latitude %>","longitude":"<%= @project.center_longitude %>"}};
  map = setup_map(midpoint, <%= @project.default_zoom %>);
  var points = <%=raw @layer.points.to_json(:methods => :icon) %>;
  $.each(points, function(i, point){
    add_point_to_map(point.point, map, {icon: point.point.icon});
  });
<% end %>
<h2 class="breadcrumb">
  <%= link_to @project.name, project_path(@project) %>&nbsp;/&nbsp;
</h2>
<div class="main-title">
  <%= @layer.name %>
  <%= map_canvas(:style => "width: 100%; height:500px;") %>
</div>
<% if @layer.description.empty? %>
  <p><%= @layer.description %></p>
<% end %>
<div class="mc-indent">
  <table class="datatable">
    <thead>
      <tr>
       <th>Point</th>
       <th>Address</th>
       <th>Description</th>
       <th>Date</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <% @layer.points.each do |point| %>
          <tr class="<%= cycle('even', 'odd')%>">
            <td><%= link_to point.name, [@project, point.layer, point] %></td>
            <td><%= point.address unless point.address.blank? %></td>
            <td><%= point.description unless point.description.blank? %></td>
            <td><%= point.date unless point.date.blank? %></td>
            <td><%= link_to 'Edit', edit_project_layer_point_path(@project, point.layer, point) if can? :update, point %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
<br />
<%= link_to 'New Point', new_project_layer_point_path(@project, @layer), :class => 'link-button create' if can? :create, @layer.points.build %> 
<br /><br />
<%= link_to 'Edit', edit_project_layer_path(@project, @layer), :class => 'link-button' if can? :update, @layer %>
<%= link_to 'Destroy', [@project, @layer], :method => :delete, :class => 'link-button destroy' if can? :destroy, @layer %>
<%= link_to 'Back', project_path(@project), :class => 'link-button' %>
